/* comentário css */



/* 
Anatomia de um CSS
*/
h1 {
  color: blue;
  font-size: 60px;
  letter-spacing: 2;
  text-transform: uppercase;
}



/* 
Cascata:
hierarquia de regras: o último elemento sempre vai ser o mais importante



Especificidade:
- cada seletor tem um peso:

#id -100
.class - 10
element - 1

especificidade está a frente da cascata, mas a cascata também funciona para a especificidade
*/



/*
Valores e unidades de medida
*/
h1 {
  color: black;
  font-size: 40px;
  letter-spacing: 3;
  text-transform: uppercase;
}



/*Seletores*/
/*tipo*/
p {
  color: black;
}

/*id*/
#texto {
  color: black;
}

/*class*/
.texto {
  color: black;
}

/*atributo*/
[title="t"] {
  color: black;
}

/*universal*/
* {
  color: black;
}



/* Combinators */
article p {
  color: black;
}
/* você está pegando o p que está dentro do article */

span, mark {
  color: red;
}
/* você está pegando o span e o mark, como uma lista */

h2 + p {
  color: black;
}
/* você está pegando o p próximo ao h2 */
/* é referente ao segundo elemento, que vem depois do + */



/* ABRIR O ARQUIVO HTML PARA VER O CSS */



/* BOXMODEL */
.container {
  background-color: lightgray; /* vai mostrar a MARGIN */
  padding: 1px;
}
.boxmodel {
  color: black;
  border: 3px solid red;
  padding: 20px;
  margin: 20px;
  background-color: lightblue; /* vai mostrar o PADDING (espaço interno) */
}
.inline {
    padding: 20px 160px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}
a.boxmodel {
  display: inline-block;
}
/* o elemento continua na mesma linha que os outros, mas passa a respeitar margin e padding em todos os lados. Aí o container vai crescer corretamente */
h2 {padding: 0px 20px;}